body {
  background-color: white;
}
canvas {
  margin-top: 5%;
  background-color: black;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.center {
  text-align: center;
}

.button {
  width: 100px;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-green {
  color: #ffffff;
  background: black;
  display: inline-block;
}

.button:hover {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: 0.85;
}

.noSelect,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gamestate {
  padding-top: 1.2em;
}
